
<header>
        <div class="htop">
            <i class="iconfont icon-angleleft"></i>
            <span class="sp1">返回</span>
            <span class="sp2">关闭</span>
            我在家家居...
            <i class="iconfont icon-shenglvehao1"></i>
        </div>
        <div class="hbottom">
            <span class="sp3">北京市</span>

            <div class="search">
                <span class="sp4 iconfont icon-search4"></span>
                <input type="text" placeholder="搜索品牌/单品/风格" ng-focus='focuss()' ng-blur='blurs()'>
            </div>
            <img src="images/1_03.png" alt="" class="img1">
        </div>

    </header>
    <section>
        
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner">
                            <img src="images/2_06.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="shang">
            <p class="p1">大牌直销商直供</p>
            <div class="piclist">
                <img src="images/3_08.png" alt="">
            </div>
        </div>
    </section>
    <div footers></div>

    