<header>
        <div class="htop">
            <i class="iconfont icon-angleleft"></i>
            <span class="sp1">返回</span>
            <span class="sp2">关闭</span>
            我在家家居...
            <i class="iconfont icon-shenglvehao1"></i>
        </div>
        <div class="hbottom">
            <span class="sp3">北京市</span>
            <div class="search">
                <span class="sp4 iconfont icon-search4"></span>
                <input type="text" placeholder="搜索品牌/单品/风格">
            </div>
            <img src="images/1_03.png" alt="" class="img1">
        </div>

</header>
<section>
    <div class="remen">
        <p class="p3">热门搜索</p>
        <div class="spanL">
            <span>sasjd</span>
            <span>按时</span>
            <span>斯卡迪</span>
            <span>事件的</span>
        </div>
        <div class="spanL">
            
            <span>斯卡迪</span>
            <span>事件的</span>
        </div>
    </div>
</section>

<div footers></div>