
    <footer>
    <span>
        <dl ui-sref="shouye" ui-sref-active="high">
            <dt><img src="images/7_03.png" alt=""></dt>
            <dd>首页</dd>
        </dl>
        <dl ng-click="shoucang()">
            <dt><img src="images/7_05.png" alt=""></dt>
            <dd>收藏</dd>
        </dl>
        <dl>
            <dt><img src="images/7_07.png" alt=""></dt>
            <dd>客服</dd>
        </dl>
    </span>
    <span>
        <p class="p6">￥11.8</p>
        <p class="p6">单独购买</p>
    </span>
    <span>
        <p class="p6">￥8.8</p>
        <p class="p6">一键拼单</p>
    </span>
    </footer>


