
<div class="container2">
    <header>
        <p class="pp"><i class="iconfont icon-angleleft" ui-sref="shouye"></i>商品评价 <i class="iconfont icon-search"></i></p>
        <div class="pingjialist">
            <span>追加</span><span>月有图</span><span>便宜</span><span>划算</span>
        </div>
        <div class="pingjialist">
            <span>追加</span><span>月有图</span><span>便宜</span><span>划算</span>
        </div>
        <i class="iconfont icon-angleleft i8" ng-click="dianji()"></i>
        <div class="pingjialist" ng-if="realy">
            <span>追加</span><span>月有图</span><span>便宜</span><span>划算</span>
        </div>
    </header>
    <section>
        <div class="zhe" ng-if="zhe">已加入收藏</div>
        <img src="images/8_02.png" alt="" class="img8">
    </section>
    <footers></footers>
</div>
