
<div class="container">
    <header>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/1_02.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/1_02.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/1_02.png" alt="">
                </div>
            </div>
        </div>
        <p class="p1"><span class="sp1">￥8.8  </span><span class="sp2">已拼25322件.2人拼单</span></p>
        <p class="p2">呆呆兔100g500g可选中秋月饼光是多考位水果口味</p>
        <p class="p2">独立包装散装33个左右传统糕点</p>
        <p class="p3">【生产日期：2017年7月20日 保质期：90天】杜师傅的经适房那是当年房价的是地反击的的加肥加大点击放大东方今典</p>
        <img src="images/2_03.png" alt="" class="img1">
    </header>
    <section>
        <div class="zhe" ng-if="zhe">已加入收藏</div>
        <div class="qinglist">
            <img src="images/3_02.png" alt="" class="img2">
        </div>
        <div class="pinlist">
            <p class="p4">176人在拼单 <span>查看更多</span><i class="iconfont icon-angleleft"></i></p>
            <img src="images/4_04.png" alt="" class="img4">
        </div>
        <div class="pingjia">
            <p class="p5">商品评价（5179） <span class="quanbu" ui-sref="pingjia" ui-sref-active="high">查看全部</span><i class="iconfont icon-angleleft"></i></p>
            <img src="images/6_02.png" alt="" class="img6">
        </div>
    </section>
    <footers></footers>
</div>