<footer>
    <dl ui-sref="shouye" ui-sref-active="high">
        <dt class="iconfont icon-changge"></dt>
        <dd>首页</dd>
    </dl>
    <dl ui-sref='page1' ui-sref-active='high'>
        <dt class='iconfont icon-angleleft'></dt>
        <dd>服务</dd>
    </dl>
    <dl ui-sref='page2' ui-sref-active='high'>
        <dt class="iconfont icon-icon069"></dt>
        <dd>小号</dd>
    </dl>
    <dl ui-sref="page3" ui-sref-active="high">
        <dt class="iconfont icon-wo"></dt>
        <dd>商城</dd>
    </dl>
    <dl ui-sref='page4' ui-sref-active='high'>
        <dt class="iconfont icon-shouji"></dt>
        <dd>我</dd>
    </dl>
</footer>