<footer>
        <dl ui-sref="shouye" ui-sref-active="high">
            <dt><img src="images/4_09.png" alt=""></dt>
            <dd>首页</dd>
        </dl>
        <dl ui-sref="fenlei" ui-sref-active="high">
            <dt><img src="images/4_11.png" alt=""></dt>
            <dd>分类</dd>
        </dl>
        <dl ui-sref="wode" ui-sref-active="high">
            <dt><img src="images/4_13.png" alt=""></dt>
            <dd>生活家</dd>
        </dl>
        <dl>
            <dt><img src="images/4_15.png" alt=""></dt>
            <dd>我的</dd>
        </dl>
</footer>
